html {
    height: 100%;
}

body { 
    background: url(../img/bg-smile.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -10px;
    height: 100%;
}

#header {
    height: 10%;
    width: 100%;
    background-color: #888;
    opacity: 0.9;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 0.7%;
}

h1 {
    color: #fff;
    font-size: 4em;
}


#webstore {
    margin-bottom: 1em;
}

#content {
    background-color: #FEFF99;
    opacity: 0.9;
    height: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 2em;
}

#wrapper {
    margin: 0 auto;
    width: 50%;
}


#footer {
    background-color: #888;
    height: 8%;
    text-align: center;
    opacity: 0.9;
}

#footer p {
    padding-top: 1em;
    color: #fff;
}
