html {
    height: 100%;
}

body { 
    background: url(../img/bg-smile.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: 100%;
}

#header {
    height: 15%;
    width: 100%;
    background-color: #888;
    opacity: 0.9;
    text-align: center;
    margin-top: -10px;
    vertical-align: middle;
}

#header h1 {
    position: relative;
    top: .5em;
}

h1 {
    color: #fff;
    font-size: 4em;
}


#webstore {
    margin-bottom: 1em;
}

#content {
    background-color: #FEFF99;
    opacity: 0.9;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 2em;
}

#wrapper {
    margin: 0 auto;
    width: 70%;
}


#footer {
    background-color: #888;
    height: 10%;
    width: 100%;
    text-align: center;
    opacity: 0.98;
    position: absolute;
    bottom: 0;
}

#footer p {
    padding-top: 1em;
    color: #fff;
}
