{% extends "smilecounter/base.html" %}
{% load staticfiles %}

{% block main %}
    <div class="container" id="content">
        <div class="row" id="faqwrapper">
            <div class="span8 offset2">
                <h1>SmileAlways FAQ</h1>
                <h2>What is AmazonSmile?</h2>
                <p>AmazonSmile is a simple and automatic way for you to support your favorite charitable organization every time you shop at Amazon, at no cost to you. Learn more at <a href="https://smile.amazon.com/about">https://smile.amazon.com/about</a>.</p>

                <h2>Who created SmileAlways?</h2>
                <p>SmileAlways was developed by two MIT students, Josh Haimson and Dan Elitzer. Josh and Dan wrote and published the initial version of this extension on November 10th, 2013, dedicating it to the memory of <a href="http://en.wikipedia.org/wiki/Aaron_Swartz">Aaron Swartz</a>.</p>

                <h2>How are you making money from this?</h2>
                <p>We’re not. We’re both frequent Amazon customers and when we learned about the AmazonSmile program, we thought it was great. Who doesn’t want to help charities raise more money?! But we knew we would probably forget to start our shopping at smile.amazon.com. The idea of an extension that would automatically redirect Amazon URLs to smile.amazon.com seemed obvious to us, so we assumed someone would build it. When we couldn’t find anything doing that after a couple weeks, we decided to build it ourselves.</p>

                <h2>Sounds great. What’s the catch?</h2>
                <p>There is none. The extension doesn’t collect any personal information or browsing data. All it does is redirect www.amazon.com URLs to smile.amazon.com.</p>

                <h2>Really? I don’t believe you.</h2>
                <p>Yes, really! You can check for yourself - all the code is available at <a href="http://github.com/Jdhaimson/smilealways">http://github.com/Jdhaimson/smilealways</a>.</p>

                <h2>Okay, I’m convinced. How can my favorite nonprofit benefit from SmileAlways?</h2>
                <p>Some nonprofits are already promoting AmazonSmile to their supporters as an easy way to help out. Unfortunately, we suspect most people probably register on AmazonSmile to support their favorite charity, but forget to start their shopping at smile.amazon.com. By encouraging supporters to both register and install SmileAlways, nonprofits can ensure that if they get their supporters to take action one time, it will lead to ongoing revenue for as long as Amazon continues the AmazonSmile program.</p>

                <p>If you need help integrating SmileAlways on your website, contact us at <a href="mailto:info@smilealways.io">info@smilealways.io</a>.</p>

                <h2>Don’t programs like AmazonSmile replace other giving?</h2>
                <p>We sure hope not! While we encourage everyone who shops at Amazon to use this extension, we encourage you to also find other ways to contribute to charitable causes you care about by directly donating your dollars, skills, and time. If you are unsure which charity you want to give to, please check out the organizations recommended by <a href="http://www.givewell.org/">GiveWell</a>, a charity research and evaluation group with whom <a href="http://blog.givewell.org/2013/01/16/in-memory-of-aaron-swartz/">Aaron volunteered his time</a>.</p>
                <br />
                <h4><a href="/">Home</a></h4>
            </div>
        </div>
    </div>
{% endblock %}
