{% extends "smilecounter/base.html" %}
{% load staticfiles %}

{% block main %}
    <div id="header">
    </div>
    <div class="container" id="content">
        <h1>SmileAlways</h1>

        <div class="row" id="wrapper">
            <div class="span4 offset2 hidden-phone">
                <h3 id="description">SmileAlways is a Chrome extension that automatically redirects you to <a href="http://smile.amazon.com">smile.amazon.com</a> to make donating to charity easier!</h3>
            </div>
            <div class="span4 offset2 visible-phone">
                <h3 id="mobile-description">SmileAlways is a Chrome extension that automatically redirects you to <a href="http://smile.amazon.com">smile.amazon.com</a> to make donating to charity easier!</h3>
            </div>


            <div class="span4">
                <a href="https://chrome.google.com/webstore/detail/smilealways/jgpmhnmjbhgkhpbgelalfpplebgfjmbf"><img src="{% static "img/ChromeWebStore.png"%}" alt="Chrome Web Store" id="webstore"></a>
            </div>
        </div>

        <h3><a href="/faq">FAQ</a></h3>
    </div>
{% endblock %}
