<!DOCTYPE html>
<html lang="en"> <head>
        <meta charset="utf-8">
        <title>AlwaysSmile Chrome Extension</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        {% load staticfiles %}
        <!-- Le styles -->
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
        <link href="{% static "css/my.css" %}" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="../assets/js/html5shiv.js"></script>
        <![endif]-->

        <!-- Fav and touch icons -->
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}"type="image/x-icon">
        <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    </head>

    <body>
        <div id="header">
        </div>
        <div class="container" id="content">
            <div id="wrapper">

                <h1>SmileAlways</h1>
                <h3>SmileAlways automatically redirects you to <br><a href="http://smile.amazon.com">smile.amazon.com</a> to make donating to charity easier!</h3>
                <a href="https://chrome.google.com/webstore/detail/smilealways/jgpmhnmjbhgkhpbgelalfpplebgfjmbf"><img src="{% static "img/ChromeWebStore.png"%}" alt="Chrome Web Store" id="webstore"></a>
                <h4>{{ redirectCount }} redirects have been made with this extension!</h4>
            </div>
        </div>
        <div id="footer">
            <h4>
                Built by:
                Josh Haimson - <a href="http://www.twitter.com/just_joshing">@just_joshing</a> | 
                Dan Elitzer - <a href="http://www.twitter.com/delitzer">@delitzer</a> | 
            Image credit: <a href="https://secure.flickr.com/photos/dancingtuna/6112684438/">Flickr user Dancing Tuna</a>
        </h4>
        </div>

    </body>

</html>
